@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --blue: #007bff;
  --indigo: #0d0cb5;
  --purple: #7971ea;
  --pink: #e83e8c;
  --red: #f23a2e;
  --orange: #ef6c57;
  --yellow: #f89d13;
  --green: #8bc34a;
  --teal: #46ddb0;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --light-gray: #c4c4c4;
  --gray-dark: #343a40;
  --primary: #f16821;
  --secondary: #6c757d;
  --success: #8bc34a;
  --info: #17a2b8;
  --warning: #f89d13;
  --danger: #f23a2e;
  --light: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(cyan));
  background: linear-gradient(#000, cyan);
  border-radius: 0 0 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 15px;
  border-radius: 1rem;
  background: #454545;
}

.bg {
  background: url(../img/sgirl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -9999;
}

.bg-white {
  background-color: var(--white);
}

button {
  outline: none;
  background: none;
  border: 2px solid #000;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background: var(--light);
  position: relative;
  z-index: 999;
}

nav .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

nav .nav .social .icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  margin: 0 2px;
}

nav .nav .social a {
  color: var(--white);
}

nav .nav .social a:hover {
  color: var(--primary);
}

nav .nav .contacts {
  font-size: 15px;
}

nav .nav .contacts .phoneno, nav .nav .contacts .phon, nav .nav .contacts .email, nav .nav .contacts .emaili {
  margin: 0 1rem;
  cursor: pointer;
}

nav .nav .contacts .phon, nav .nav .contacts .emaili {
  color: var(--primary);
}

nav .nav .contacts .phoneno:hover, nav .nav .contacts .email:hover, nav .nav .contacts .phon:hover, nav .nav .contacts .emaili:hover {
  color: var(--warning);
}

.nav2m {
  background: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-box-shadow: 0 1px 10px 2px rgba(29, 29, 29, 0.466);
          box-shadow: 0 1px 10px 2px rgba(29, 29, 29, 0.466);
}

.nav2m .nav2 {
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav2m .nav2 .logo a {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.nav2m .nav2 .logo .square {
  width: 10px;
  height: 10px;
  background: var(--primary);
  position: relative;
  top: .5rem;
  left: .2rem;
}

.nav2m .nav2 .links a {
  margin: 0 1rem;
  color: var(--gray-dark);
}

.nav2m .nav2 .links a:hover {
  color: var(--primary);
}

.b-blur {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero {
  height: 100vh;
  background: url(../img/sgirl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-s {
  width: 100%;
  position: relative;
  z-index: 2;
}

.hero .hero-s .heading {
  font-size: 5rem;
  font-weight: 700;
  color: var(--white);
}

.hero .hero-s .h-d {
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--white);
  margin: 2rem 0;
}

.hero .hero-s .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-s .buttons button {
  color: var(--white);
  padding: 1rem 4rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  font-weight: 600;
  margin-right: 2rem;
  border: 2px solid var(--white);
  cursor: pointer;
}

.hero .hero-s .buttons button:hover {
  color: var(--gray-dark);
  background: var(--white);
}

.hero .hero-s .buttons .active {
  color: var(--gray-dark);
  background: var(--white);
}

.hero .hero-s .buttons .active:hover {
  color: var(--white);
  background: transparent;
}

.texts {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texts h5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  color: var(--gray-dark);
}

.texts h1 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 1rem;
}

.texts p {
  width: 50%;
  line-height: 1.5rem;
  color: var(--gray-dark);
}

.product {
  padding: 5rem 0;
}

.product .product-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5rem;
  margin-top: 5rem;
}

.product .product-c .p-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .product-c .p-1 h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-dark);
  margin: 1rem 0;
}

.product .product-c .p-1 .like .star, .product .product-c .p-1 .like .heart {
  margin-right: 1rem;
}

.product .product-c .p-1 .like .star i, .product .product-c .p-1 .like .heart i {
  color: var(--light-gray);
  margin-right: .5rem;
}

.product .product-c .p-1 .like .star i {
  color: var(--warning);
}

.product .product-c .p-1 .like .heart i:hover {
  color: var(--red);
}

.product .product-c .p-1 p {
  margin: .5rem 0;
  text-align: center;
  max-width: 90%;
  font-size: .8rem;
  color: var(--gray);
}

.product .product-c .p-1 .buttons {
  margin-top: 1rem;
}

.product .product-c .p-1 .buttons button, .product .product-c .p-1 .buttons .view:hover {
  padding: .5rem 2rem;
  background: transparent;
  outline: none;
  color: #000;
  border: 2px solid #000;
  font-weight: 700;
  font-size: .8rem;
}

.product .product-c .p-1 .buttons .view, .product .product-c .p-1 .buttons .cart:hover {
  background: #000;
  color: var(--white);
}

.product .product-c .p-1:hover .i-1, .product .product-c .p-1:hover .i-2, .product .product-c .p-1:hover .i-4, .product .product-c .p-1:hover .i-5, .product .product-c .p-1:hover .i-6 {
  background-size: 150%;
  background-position: 60% 25%;
}

.product .product-c .p-1:hover .i-3 {
  background-size: 150%;
  background-position: 60% 90%;
}

.product .product-c .p-1:hover .i-4 {
  background-size: 150%;
  background-position: center;
}

.product .product-c .p-1:hover .img-b {
  width: 80%;
  height: 80%;
  border-color: var(--danger);
  border-width: 3px;
}

.product .product-c .img {
  width: 350px;
  height: 350px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .product-c .img .img-b {
  width: 100%;
  height: 100%;
  border: 20px solid transparent;
}

.product .product-c .i-1 {
  background: url(../img/img1.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.product .product-c .i-2 {
  background: url(../img/img2.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.product .product-c .i-3 {
  background: url(../img/img3.jpg);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.product .product-c .i-4 {
  background: url(../img/img4.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.product .product-c .i-5 {
  background: url(../img/img5.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.product .product-c .i-6 {
  background: url(../img/img6.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.subscribe-m {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
}

.subscribe-m .subscribe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.subscribe-m .subscribe .subs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
}

.subscribe-m .subscribe .subs h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.subscribe-m .subscribe .subs .subs-input {
  margin-bottom: 2rem;
}

.subscribe-m .subscribe .subs .subs-input input {
  font-size: 1.2rem;
  padding: 0 1rem;
  color: var(--white);
  width: 500px;
  height: 3rem;
  background: none;
  outline: none;
  border: 2px solid var(--white);
}

.subscribe-m .subscribe .subs .subs-input ::-webkit-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: var(--light-gray);
}

.subscribe-m .subscribe .subs .subs-input :-ms-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: var(--light-gray);
}

.subscribe-m .subscribe .subs .subs-input ::-ms-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: var(--light-gray);
}

.subscribe-m .subscribe .subs .subs-input ::placeholder {
  font-size: 1rem;
  font-style: italic;
  color: var(--light-gray);
}

.subscribe-m .subscribe .subs .subs-input .subs-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--white);
  border-left: none;
  height: 3rem;
  padding: 0 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.subscribe-m .subscribe .subs .subs-input .subs-btn:hover {
  background: var(--white);
  color: var(--gray-dark);
}

.subscribe-m .subscribe .subs p {
  width: 70%;
  font-weight: 300;
}

.new-1 {
  margin-top: 400px;
  background: var(--light);
}

.featured {
  padding: 5rem 0;
}

.grid {
  background: var(--white);
  padding: 3rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-bottom: 3rem;
}

.grid:hover {
  -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
}

.p-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.p-products .img img {
  width: 100%;
}

.p-products .no {
  font-family: sans-serif;
  position: absolute;
  font-size: 10rem;
  color: var(--light-gray);
  z-index: 1;
  opacity: .4;
  right: 30%;
}

.p-products .no-2 {
  left: 10%;
  right: 0;
}

.p-products .txt {
  padding: 3rem 0;
}

.p-products .txt h1 {
  position: relative;
  z-index: 1;
  color: #000;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.p-products .txt p {
  color: var(--gray-dark);
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 1;
}

.p-products .txt .price {
  margin-bottom: 2rem;
}

.p-products .txt .price .f-price {
  opacity: .3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.p-products .txt .price .t-price {
  font-weight: 500;
}

.p-products .txt .buttons button, .p-products .txt .buttons .details:hover {
  padding: .6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  border-color: #000;
  background: #000;
  margin: 0 .5rem;
}

.p-products .txt .buttons .details, .p-products .txt .buttons .add-c:hover {
  color: #000;
  background: var(--white);
  border-color: #000;
}

.coming {
  background: #000;
  text-align: center;
}

.coming h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}

.coming p {
  font-size: 2rem;
  font-weight: 500;
  color: lightgray;
}
/*# sourceMappingURL=style.css.map */